.daily-forecast {
    display: grid;
    gap: 1.25rem;
}
.daily-forecast__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
    gap: var(--daily-card-gap);
}
.daily-card {
    display: grid;
    gap: 1rem;
    justify-items: center;
    padding: 1rem 0.625rem;
    border: 1px solid var(--clr-neutral-600);
    border-radius: 0.75rem;
    background: var(--clr-neutral-800);
}
.daily-card__heading {
    height: 1.35rem;
}
.daily-card__symbol {
    width: 3.75rem;
    height:3.75rem;
}
.daily-card__temp {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    height: 1.2rem;
}


/* tablet version */
@media screen and (min-width: 45rem) {
    .daily-forecast__main {
        grid-template: 1fr / repeat(7, 1fr);
    }
}


/* desktop version */
@media screen and (min-width: 70rem) {
    .daily-forecast {
        grid-row: 2 / -1;
        grid-column: 1 / 2;
    }
}