/* forecast sub section */
.weather-now {
    display: grid;
    gap: var(--weather-now-gap);
}
.now-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-inline: clamp(0.2rem, 0.2rem + 5vw, 1.5rem);
    padding-block: 1.5rem;
    border-radius: 1.25rem;
    background-image: url(/images/bg-today-small.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 12.7rem;
    text-align: center;
}
.now-card__location-time {
    display: grid;
    gap: 0.75rem;
    justify-items: center;
}
.now-card__temp {
    display: flex;
    gap: clamp(0.2rem, 0.2rem + 5vw, 1.25rem);
    align-items: center;
}
.now-card__temp__symbol {
    width: clamp(4rem, 1rem + 25vw, 7.5rem);
    height: clamp(4rem, 1rem + 25vw, 7.5rem);
}

/* tablet version */
@media screen and (min-width: 45rem) {
    .weather-now {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .now-card {
        flex-direction: row;
        justify-content: space-between;
        height: 17.875rem;
        background-image: url(/images/bg-today-large.svg);
        text-align: left;
    }
    .now-card__location-time {
        justify-items: start;
    }
}